Reverse a given list in Python
aList = [100, 200, 300, 400, 500]
output:
[500, 400, 300, 200, 100]

In [1]:
l1=[500, 400, 300, 200, 100]
l1[::-1]

[100, 200, 300, 400, 500]

take a list 'l1' of even nos between 150 to 250. Print its length.
Then create another list 'l2' using 'l1', containing only nos divisible by 4 from 'l1'.

In [11]:
l1=[]
l2=[]
for i in range(150,251,2):
    l1.append(i)
print(len(l1))
for i in l1:
    if i%4==0:
        l2.append(i)
print(l2)

51
[152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248]

Given a Python list of numbers. Turn every item of a list into its square root
aList = [1, 4, 9, 16, 25, 36, 49] 
output:
[1, 2, 3, 4, 5, 6, 7]

In [17]:
import math
l1=[1,4,9,16,25,36,49]
l2=[]
for i in l1:
    l2.append(int(math.sqrt(i)))
print(l2)

[1, 2, 3, 4, 5, 6, 7]

Print two lists in the following order
list1 = [5, 6,7]
list2 = [0, 1]
output:
50,51,60,61,70,71

In [29]:

a=l1[0],l2[0]
l3.append(a)
print(l3)

[(5, 0)]

In [37]:
l1=[5,6,7]
l2=[0,1]
l3=[]
for e1 in l1:
    for e2 in l2:
        a=str(e1)+str(e2)
        l3.append(a)
print(l3)

['50', '51', '60', '61', '70', '71']

 Given a two Python list. Iterate both lists simultaneously such that list1 should display item in original order and list2 in reverse order. It should work for any two lists.
list1 = [10, 20, 30, 40]
list2 = [100, 200, 300, 400]
output:
10 400
20 300
30 200
40 100

In [42]:
l1= [10,20,30,40]
l2=[100,200,300,400]
l3=l2[::-1]
for e1,e2 in zip(l1,l3):
    print(e1,e2)

10 400
20 300
30 200
40 100

Remove empty strings from the list of strings
list1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]
output:
["Ashish", "Atharva", "Amit", "Revati"]

In [53]:
l1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]
l1.remove("")
l1.remove('')
print(l1)

['Ashish', 'Atharva', 'Amit', 'Revati']

7. Add item 7000 after 6000 in the following Python List
list1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
output:
[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

In [89]:
l1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
l2=l1[2][2]
l2.insert(2,7000)
print(l1)

[10, 20, [300, 400, [5000, 6000], 500], 30, 40]

8. Given a nested list extend it by adding the sub list ["h", "i", "j"] in such a way that it will look like the following list

list1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
Sub List to be added = ["h", "i", "j"]
output:
['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

In [70]:
l1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
l2=l1[2][1][2]
l2.insert(2,"h")
l2.insert(3,"i")
l2.insert(4,"j")
print(l1)

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

9. Given a Python list, find value 20 in the list, and if it is present, replace it with 200. Only update the first occurrence of a value
list1 = [5, 10, 15, 20, 25, 50, 20]
output:
list1 = [5, 10, 15, 200, 25, 50, 20]

In [5]:
# l1 = [5, 10, 15, 20, 25, 50, 20]
# for i,e in enumerate(l1):
#     if (l1[i]==20):
#         l1[i]=200
#         l1.append(l1[i])
# print(l1) 
l1 = [5, 10, 15, 20, 25, 50, 20]
l1[3]=200
print(l1)

[5, 10, 15, 900, 25, 50, 20]

12. Take integer from user and print all odd numbers which can be generated using any number of digits from given number
Ex. 
Input: 3421  o/p: 1,3,13,43,23,31,41,21,421,241,341,431,423,243,143,413,1243,1423,4213,4123, 2413,2143, .. etc